In [26]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.colors import LogNorm
import numpy as np

In [27]:
metric2016 = pd.read_excel('Metrics_0.xlsm', sheet_name='Metrics')

In [28]:
column_list = list(metric2016.columns.values)

In [29]:
keep_cols = ['Name','City','State','NTD ID', 'Reporter Type', 'Primary UZA\n Population', 'Agency VOMS',
             'Cost per\n Hour','Passengers per Hour','Cost per Passenger Mile',
             'Fare Revenues Earned','Total Operating Expenses','Unlinked Passenger Trips','Vehicle Revenue Hours','Passenger Miles','Vehicle Revenue Miles']

metric2016_v2 = metric2016[keep_cols]
metric2016_v2

,Name,City,State,NTD ID,Reporter Type,Primary UZA\n Population,Agency VOMS,Cost per\n Hour,Passengers per Hour,Cost per Passenger Mile,Fare Revenues Earned,Total Operating Expenses,Unlinked Passenger Trips,Vehicle Revenue Hours,Passenger Miles,Vehicle Revenue Miles
0,MTA New York City Transit,New York,NY,20008,Full Reporter,18351295,11004,291.9540,140.4000,0.5049,3351083122,5558943117,2673282334,19040477,11009026066,347091534
1,MTA New York City Transit,New York,NY,20008,Full Reporter,18351295,11004,226.4631,60.6009,1.7888,860046215,2779372331,743752458,12272959,1553770171,86863364
2,MTA New York City Transit,New York,NY,20008,Full Reporter,18351295,11004,95.9838,1.2981,8.2950,12854659,467083460,6316903,4866273,56308809,48814480
3,MTA New York City Transit,New York,NY,20008,Full Reporter,18351295,11004,422.7102,21.6636,1.5566,76341181,246661551,12641225,583524,158465369,9214967
4,MTA New York City Transit,New York,NY,20008,Full Reporter,18351295,11004,211.1801,62.7284,1.7719,29956666,96791239,28750626,458335,54624590,2988560
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3680,Wakefield Senior Center,Wakefield,NE,7R04-70230,Rural Reporter,0,1,228.6345,0.1655,0.0000,356,33152,24,145,0,1369
3681,Hoisington Commission on Aging/City of Hoisington,Hoisington,KS,7R02-70115,Rural Reporter,0,1,21.8146,4.5556,0.0000,2092,32351,6756,1483,0,9663
3682,"Fosston, City of",Fosston,MN,5R04-50430,Rural Reporter,0,1,29.5055,7.1652,0.0000,2147,64853,15749,2198,0,21481
3683,Makah Tribal Council,Neah Bay,WA,36,Reduced Reporter,0,1,72.4256,2.7306,0.0000,585,193811,7307,2676,0,44767
3684,City of Edgerton,Edgerton,WI,5R06-50391,Rural Reporter,0,1,23.8584,2.2555,0.0000,15019,66207,6259,2775,0,20008

In [30]:
del_cols = []
for i in keep_cols[7:]:
    metric2016_v2[i+' Total'] = metric2016_v2.groupby(['NTD ID'])[i].transform('sum')
    del_cols.append(i)

/var/folders/01/185kl4y171j13w8j6my6q4980000gn/T/ipykernel_33422/206612259.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metric2016_v2[i+' Total'] = metric2016_v2.groupby(['NTD ID'])[i].transform('sum')
/var/folders/01/185kl4y171j13w8j6my6q4980000gn/T/ipykernel_33422/206612259.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metric2016_v2[i+' Total'] = metric2016_v2.groupby(['NTD ID'])[i].transform('sum')
/var/folders/01/185kl4y171j13w8j6my6q4980000gn/T/ipykernel_33422/206612259.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metric2016_v2[i+' Total'] = metric2016_v2.groupby(['NTD ID'])[i].transform('sum')
/var/folders/01/185kl4y171j13w8j6my6q4980000gn/T/ipykernel_33422/206612259.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metric2016_v2[i+' Total'] = metric2016_v2.groupby(['NTD ID'])[i].transform('sum')
/var/folders/01/185kl4y171j13w8j6my6q4980000gn/T/ipykernel_33422/206612259.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metric2016_v2[i+' Total'] = metric2016_v2.groupby(['NTD ID'])[i].transform('sum')
/var/folders/01/185kl4y171j13w8j6my6q4980000gn/T/ipykernel_33422/206612259.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metric2016_v2[i+' Total'] = metric2016_v2.groupby(['NTD ID'])[i].transform('sum')
/var/folders/01/185kl4y171j13w8j6my6q4980000gn/T/ipykernel_33422/206612259.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metric2016_v2[i+' Total'] = metric2016_v2.groupby(['NTD ID'])[i].transform('sum')
/var/folders/01/185kl4y171j13w8j6my6q4980000gn/T/ipykernel_33422/206612259.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metric2016_v2[i+' Total'] = metric2016_v2.groupby(['NTD ID'])[i].transform('sum')
/var/folders/01/185kl4y171j13w8j6my6q4980000gn/T/ipykernel_33422/206612259.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metric2016_v2[i+' Total'] = metric2016_v2.groupby(['NTD ID'])[i].transform('sum')

In [31]:
print(del_cols)

['Cost per\n Hour', 'Passengers per Hour', 'Cost per Passenger Mile', 'Fare Revenues Earned', 'Total Operating Expenses', 'Unlinked Passenger Trips', 'Vehicle Revenue Hours', 'Passenger Miles', 'Vehicle Revenue Miles']

In [32]:
metric2016_v3 = metric2016_v2.drop(columns=del_cols)
metric2016_v3

,Name,City,State,NTD ID,Reporter Type,Primary UZA\n Population,Agency VOMS,Cost per\n Hour Total,Passengers per Hour Total,Cost per Passenger Mile Total,Fare Revenues Earned Total,Total Operating Expenses Total,Unlinked Passenger Trips Total,Vehicle Revenue Hours Total,Passenger Miles Total,Vehicle Revenue Miles Total
0,MTA New York City Transit,New York,NY,20008,Full Reporter,18351295,11004,1248.2912,286.6910,13.9172,4330281843,9148851698,3464743546,37221568,12832195005,494972905
1,MTA New York City Transit,New York,NY,20008,Full Reporter,18351295,11004,1248.2912,286.6910,13.9172,4330281843,9148851698,3464743546,37221568,12832195005,494972905
2,MTA New York City Transit,New York,NY,20008,Full Reporter,18351295,11004,1248.2912,286.6910,13.9172,4330281843,9148851698,3464743546,37221568,12832195005,494972905
3,MTA New York City Transit,New York,NY,20008,Full Reporter,18351295,11004,1248.2912,286.6910,13.9172,4330281843,9148851698,3464743546,37221568,12832195005,494972905
4,MTA New York City Transit,New York,NY,20008,Full Reporter,18351295,11004,1248.2912,286.6910,13.9172,4330281843,9148851698,3464743546,37221568,12832195005,494972905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3680,Wakefield Senior Center,Wakefield,NE,7R04-70230,Rural Reporter,0,1,228.6345,0.1655,0.0000,356,33152,24,145,0,1369
3681,Hoisington Commission on Aging/City of Hoisington,Hoisington,KS,7R02-70115,Rural Reporter,0,1,21.8146,4.5556,0.0000,2092,32351,6756,1483,0,9663
3682,"Fosston, City of",Fosston,MN,5R04-50430,Rural Reporter,0,1,29.5055,7.1652,0.0000,2147,64853,15749,2198,0,21481
3683,Makah Tribal Council,Neah Bay,WA,36,Reduced Reporter,0,1,72.4256,2.7306,0.0000,585,193811,7307,2676,0,44767
3684,City of Edgerton,Edgerton,WI,5R06-50391,Rural Reporter,0,1,23.8584,2.2555,0.0000,15019,66207,6259,2775,0,20008

In [33]:
metric2016_v3 = metric2016_v3.drop_duplicates(subset=['NTD ID'])

In [34]:
metric2016_v3.drop(metric2016_v3.loc[metric2016_v3['Primary UZA\n Population']==0].index, inplace=True)

/var/folders/01/185kl4y171j13w8j6my6q4980000gn/T/ipykernel_33422/2528639432.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metric2016_v3.drop(metric2016_v3.loc[metric2016_v3['Primary UZA\n Population']==0].index, inplace=True)

In [35]:
metric2016_v3['Unlinked Passenger Trips Total'].describe()

count    9.270000e+02
mean     1.104561e+07
std      1.190151e+08
min      4.310000e+02
25%      1.265260e+05
50%      4.936410e+05
75%      2.295590e+06
max      3.464744e+09
Name: Unlinked Passenger Trips Total, dtype: float64

In [36]:
metric2016_v3 = metric2016_v3.rename(columns={'Primary UZA\n Population': 'Primary UZA Population', 'Cost per\n Hour Total': 'Cost per Hour Total'})
metric2016_v3.to_csv('Metrics2016.csv')

In [37]:
capital_exp = pd.read_excel('Capital Expenses_0.xlsm', sheet_name='Agency Totals')

In [38]:
capital_column_list = list(capital_exp.columns.values)
print(capital_column_list)

['Name', 'City', 'State', 'Legacy NTD ID', 'NTD ID', 'Organization Type', 'Reporter Type', 'Primary UZA Population', 'Agency VOMS', 'Guideway', 'Guideway Questionable', 'Stations', 'Stations Questionable', 'Administrative Buildings', 'Administrative Buildings Questionable', 'Maintenance Buildings', 'Maintenance Buildings Questionable', 'Passenger Vehicles', 'Passenger Vehicles Questionable', 'Other Vehicles', 'Other Vehicles Questionable', 'Fare Collection Equipment', 'Fare Collection Equipment Questionable', 'Communication \n& Information Systems', 'Communication & Information \nSystems Questionable', 'Other', 'Other Questionable', 'Reduced Reporter Expenses', 'Reduced Reporter Expenses Questionable', 'Total', 'Total Questionable', 'Any Data Questionable?', 'Unnamed: 32', 1]

In [39]:
cap_col_keep = ['Name', 'City', 'State', 'NTD ID', 'Reporter Type', 'Primary UZA Population','Guideway', 'Stations', 'Administrative Buildings', 'Maintenance Buildings', 
                'Passenger Vehicles', 'Other Vehicles', 'Fare Collection Equipment', 'Communication \n& Information Systems', 'Other',  'Reduced Reporter Expenses', 'Total']

In [40]:
capital_exp_v2 = capital_exp[cap_col_keep]
capital_exp_v2

,Name,City,State,NTD ID,Reporter Type,Primary UZA Population,Guideway,Stations,Administrative Buildings,Maintenance Buildings,Passenger Vehicles,Other Vehicles,Fare Collection Equipment,Communication \n& Information Systems,Other,Reduced Reporter Expenses,Total
0,MTA New York City Transit,New York,NY,20008,Full Reporter,18351295,693512674,838892516,13976558,126272788,210601391,10109713,69930235,580099710,190562965,0,2733958550
1,New Jersey Transit Corporation,Newark,NJ,20080,Full Reporter,18351295,94815183,31733712,6802303,21365247,154653001,3115589,35884316,62844705,46605289,0,457819345
2,Los Angeles County Metropolitan Transportation...,Los Angeles,CA,90154,Full Reporter,12150996,1060477265,139823316,3821923,110293044,299112510,11113190,564754,26669954,0,0,1651875956
3,Washington Metropolitan Area Transit Authority,Washington,DC,30030,Full Reporter,4586770,173841196,140533494,18958101,104795333,384743042,7263038,35277642,82139991,2439102,0,949990939
4,King County Department of Transportation,Seattle,WA,1,Full Reporter,3059393,1160403,2408143,1748966,7999956,233106853,4084698,326902,4802648,16917426,0,272555995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2241,City of Mesquite,Mesquite,TX,60070,Separate Service,5121892,0,0,0,0,0,0,0,0,0,0,0
2242,M-1 Rail,Detroit,MI,50213,Building Reporter,3734090,24648803,1174707,0,4803545,10892208,0,0,32873,12931950,0,54484086
2243,City of DeKalb,DeKalb,IL,50176,Separate Service,68545,0,0,0,0,0,0,0,0,0,0,0
2244,City of Milwaukee,Milwaukee,WI,55312,Building Reporter,1376476,7173752,0,0,0,0,3087446,0,0,8635751,0,18896949
2245,Riverside County Transportation Commission,Riverside,CA,90218,Building Reporter,1932666,65782033,0,0,0,0,0,0,0,0,0,65782033

In [41]:
capital_exp_v2.drop(capital_exp_v2.loc[capital_exp_v2['Primary UZA Population']==0].index, inplace=True)

/var/folders/01/185kl4y171j13w8j6my6q4980000gn/T/ipykernel_33422/865758429.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  capital_exp_v2.drop(capital_exp_v2.loc[capital_exp_v2['Primary UZA Population']==0].index, inplace=True)

In [42]:
capital_exp_v2

,Name,City,State,NTD ID,Reporter Type,Primary UZA Population,Guideway,Stations,Administrative Buildings,Maintenance Buildings,Passenger Vehicles,Other Vehicles,Fare Collection Equipment,Communication \n& Information Systems,Other,Reduced Reporter Expenses,Total
0,MTA New York City Transit,New York,NY,20008,Full Reporter,18351295,693512674,838892516,13976558,126272788,210601391,10109713,69930235,580099710,190562965,0,2733958550
1,New Jersey Transit Corporation,Newark,NJ,20080,Full Reporter,18351295,94815183,31733712,6802303,21365247,154653001,3115589,35884316,62844705,46605289,0,457819345
2,Los Angeles County Metropolitan Transportation...,Los Angeles,CA,90154,Full Reporter,12150996,1060477265,139823316,3821923,110293044,299112510,11113190,564754,26669954,0,0,1651875956
3,Washington Metropolitan Area Transit Authority,Washington,DC,30030,Full Reporter,4586770,173841196,140533494,18958101,104795333,384743042,7263038,35277642,82139991,2439102,0,949990939
4,King County Department of Transportation,Seattle,WA,1,Full Reporter,3059393,1160403,2408143,1748966,7999956,233106853,4084698,326902,4802648,16917426,0,272555995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2241,City of Mesquite,Mesquite,TX,60070,Separate Service,5121892,0,0,0,0,0,0,0,0,0,0,0
2242,M-1 Rail,Detroit,MI,50213,Building Reporter,3734090,24648803,1174707,0,4803545,10892208,0,0,32873,12931950,0,54484086
2243,City of DeKalb,DeKalb,IL,50176,Separate Service,68545,0,0,0,0,0,0,0,0,0,0,0
2244,City of Milwaukee,Milwaukee,WI,55312,Building Reporter,1376476,7173752,0,0,0,0,3087446,0,0,8635751,0,18896949
2245,Riverside County Transportation Commission,Riverside,CA,90218,Building Reporter,1932666,65782033,0,0,0,0,0,0,0,0,0,65782033

In [43]:
capital_exp_v2.drop(capital_exp_v2.loc[capital_exp_v2['Total']==0].index, inplace=True)

/var/folders/01/185kl4y171j13w8j6my6q4980000gn/T/ipykernel_33422/3113410849.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  capital_exp_v2.drop(capital_exp_v2.loc[capital_exp_v2['Total']==0].index, inplace=True)

In [44]:
capital_exp_v2

,Name,City,State,NTD ID,Reporter Type,Primary UZA Population,Guideway,Stations,Administrative Buildings,Maintenance Buildings,Passenger Vehicles,Other Vehicles,Fare Collection Equipment,Communication \n& Information Systems,Other,Reduced Reporter Expenses,Total
0,MTA New York City Transit,New York,NY,20008,Full Reporter,18351295,693512674,838892516,13976558,126272788,210601391,10109713,69930235,580099710,190562965,0,2733958550
1,New Jersey Transit Corporation,Newark,NJ,20080,Full Reporter,18351295,94815183,31733712,6802303,21365247,154653001,3115589,35884316,62844705,46605289,0,457819345
2,Los Angeles County Metropolitan Transportation...,Los Angeles,CA,90154,Full Reporter,12150996,1060477265,139823316,3821923,110293044,299112510,11113190,564754,26669954,0,0,1651875956
3,Washington Metropolitan Area Transit Authority,Washington,DC,30030,Full Reporter,4586770,173841196,140533494,18958101,104795333,384743042,7263038,35277642,82139991,2439102,0,949990939
4,King County Department of Transportation,Seattle,WA,1,Full Reporter,3059393,1160403,2408143,1748966,7999956,233106853,4084698,326902,4802648,16917426,0,272555995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2239,Loop Trolley Transportation Development District,St. Louis,MO,70057,Building Reporter,2150706,11182266,0,0,6976753,67675,0,0,0,2353423,0,20580117
2240,City of Stamford,Stamford,CT,10127,Building Reporter,923311,295258,0,0,0,0,0,0,0,5877632,0,6172890
2242,M-1 Rail,Detroit,MI,50213,Building Reporter,3734090,24648803,1174707,0,4803545,10892208,0,0,32873,12931950,0,54484086
2244,City of Milwaukee,Milwaukee,WI,55312,Building Reporter,1376476,7173752,0,0,0,0,3087446,0,0,8635751,0,18896949
2245,Riverside County Transportation Commission,Riverside,CA,90218,Building Reporter,1932666,65782033,0,0,0,0,0,0,0,0,0,65782033

In [45]:
capital_exp_v2 = capital_exp_v2.rename(columns={'Communication \n& Information Systems': 'Communication & Information Systems'})
capital_exp_v2.to_csv('Capital_Expenses_2016.csv')